body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: white;
  
}

.title, .addDancerButton{
  padding:5px 12px;
  float:left;
  display: inline;
  margin: 0 10px;
  vertical-align: top;
  text-transform: uppercase;
  text-decoration: none;
  color: lightblue;
}

.title{
  font: 1em sans-serif;
}


.addDancerButton{
  color: white;
  float: right
  
}
.topbar{
  height:32px;
  background-color: #555;
}

.dancer{
  
  
  position: relative;
  
}

.poop {
  height: 50px;
  width: 50px
}

#toilet {
  position: absolute;

}