body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
  
}
.title, .addDancerButton{
  padding:5px 12px;
  text-align:right;
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
  text-transform: uppercase;
  text-decoration: none;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #555;
  text-align: center
}
.dancer{
  
  
  position:absolute;
  
}

.poop {
  height: 50px;
  width: 50px
}